@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@700&display=swap');

.main-area-pc {
    .main-wrap {
        max-width: 1600px;
        margin: 0 auto;
        .title-area {
            position: relative;
            height: 70vh;
            min-height: 600px;
            width: 100%;
            .image-box {
                position: absolute;
                top: 0;
                left: 0;
                z-index: -1;
                .image {
                    height: 100%;
                    width: 100%;
                    object-fit: cover;
                }
            }
            .title-box {
                color: white;
                position: absolute;
                top: 220px;
                left: 0;
                right: 0;
                font-family: 'Merriweather', serif;
                text-align: center;
                .text-box {
                    display: inline-block;
                    border-bottom: solid 1px #ddd;
                    text-align: center;
                    margin: 0 auto;
                    padding: 0 80px 24px;
                    .title {
                        // display: inline-block;
                        margin: 0;
                        font-size: 56px;
                    }
                    .sub-title {
                        // display: inline-block;
                        margin: 0;
                        font-size: 20px;
                        padding: 0 0 0;
                    }
                }
            }
            .gradient-box {
                position: absolute;
                bottom: 0;
                left: 0;
                display: block;
                height: 200px;
                width: 100%;
                background: linear-gradient(rgba(0, 0, 0, 0), rgb(0, 0, 0));
            }
        }
    }
}
